@import "tailwindcss";

@theme {
  --color-solar-blue: #0f172a;
  --color-solar-yellow: #f59e0b;
  --color-solar-blue-light: #1e293b;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
